@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: 2rem;
  --radius-4xl: 2.5rem;
}

:root {
  --radius: 1rem;
  --background: #FAFAFA;
  --foreground: #09090b;

  --card: #FFFFFF;
  --card-foreground: #09090b;

  --popover: #FFFFFF;
  --popover-foreground: #09090b;

  --primary: #d97706;
  /* Amber 600 */
  --primary-foreground: #ffffff;

  --secondary: #fef3c7;
  /* Amber 100 */
  --secondary-foreground: #92400e;
  /* Amber 800 */

  --muted: #f4f4f5;
  /* Zinc 100 */
  --muted-foreground: #71717a;
  /* Zinc 500 */

  --accent: #fef3c7;
  --accent-foreground: #92400e;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --border: #e4e4e7;
  /* Zinc 200 */
  --input: #e4e4e7;
  --ring: #d97706;
  --warm-bg: #fffcf7;
}

.dark {
  --background: #09090b;
  /* Zinc 950 */
  --foreground: #fafafa;

  --card: #18181b;
  /* Zinc 900 */
  --card-foreground: #fafafa;

  --popover: #18181b;
  --popover-foreground: #fafafa;

  --primary: #d97706;
  --primary-foreground: #ffffff;

  --secondary: #27272a;
  /* Zinc 800 */
  --secondary-foreground: #fafafa;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #27272a;
  --accent-foreground: #fafafa;

  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;

  --border: #27272a;
  --input: #27272a;
  --ring: #d97706;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

/* Custom Utilities for the Redesign */
@layer utilities {
  .glass {
    @apply bg-card/60 backdrop-blur-md border border-white/10;
  }

  .text-balance {
    text-wrap: balance;
  }
}